<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Text Analyzer</title>
</head>
<body>
    <h1>Welcome to text Analyzer.</h1>
    <form action="/analyze" method="get">
        <textarea name="textareaNameHTML" spellcheck="false" style="margin: 0px; height: 140px; width: 1339px;"></textarea>
        <input type="checkbox" name="removePuncHTML"> Remove Punctuation <br/>
        <input type="checkbox" name="upperHTML"> Upper Case<br/>
        <input type="checkbox" name="lowerHTML"> Lower Case<br/>
        <input type="checkbox" name="capitalizeHTML"> Capitalize Text<br/>
        <input type="checkbox" name="newLineHTML"> New Line Remover<br/>
        <input type="checkbox" name="extraSpaceHTML"> Extra Space Remover<br/>
        <button>Anylyze Text</button>
    </form>
</body>
</html>